* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.heroSection {
  background-image: url(./images/medium-shot-people-travel-agency.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
}

.heroSection::before {
  content: "";
  inset: 0;
  position: absolute;
  background-color: rgba(5, 13, 77, 0.68);
}

.heroSection .container {
  z-index: 1;
  position: absolute;
}

.heroSection .heroText p {
  width: 50vw;
  margin: 0 15rem 0 15rem;
}

@media screen and (max-width: 576px) {
  .heroSection .heroText p {
    width: 100%;
    margin: 0;
  }
}

.card {
  height: 100%;
  width: 18rem;
}

@media screen and (min-width: 576) {
  .card {
    width: 100%;
  }
}

.card-img-top {
  height: 200px;
  object-fit: cover;
}

.row > .col {
  display: flex;
}

.textDest p {
  width: 50vw;
  margin: 0 15rem 0 15rem;
}

@media screen and (max-width: 576px) {
  .textDest p {
    width: 100%;
    margin: 0;
  }
}
